This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [14]:
price = [float(value[1 : -1]) for value in chipo.item_price]

TypeError: 'float' object is not subscriptable

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [26]:
chipo_pricelist = chipo.drop_duplicates(['item_name', 'item_price'])
chipo_pricelist = chipo_pricelist[chipo_pricelist.quantity == 1]
item_prices = chipo_pricelist[['item_name', 'item_price']]

### Step 6. Sort by the name of the item

In [28]:
item_prices.sort_values(by='item_price')

                  item_name  item_price
34            Bottled Water        1.09
28              Canned Soda        1.09
263       Canned Soft Drink        1.25
329           Bottled Water        1.50
6             Side of Chips        1.69
...                     ...         ...
2231     Steak Crispy Tacos       11.75
1008  Carnitas Crispy Tacos       11.75
1229    Barbacoa Salad Bowl       11.89
606        Steak Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89

[135 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [31]:
chipo.sort_values(by='item_price').tail(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [44]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].order_id.count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [53]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].order_id.count()

20